# 2.1 Limpeza de dados

## 2.1 Primeira Limpeza

In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_csv('airbnbsantos_extracao_11122020.csv')
dados_id = pd.read_csv('airbnbsantos_extracao_24012021_com_id.csv')

In [3]:
dados_id.head()

,Unnamed: 0,id,check-in,check-out,titulo,titulo_2,atributo_1,atributo_2,atributo_3,atributo_4,atributo_5,atributo_6,atributo_7,atributo_8,avaliação,comentários,preço,preço_total,superhost
0,0,35494649,2021-01-29,2021-01-31,Condomínio inteiro em Gonzaga,Flat-Comodidades de Hotel e Café da Manhã Opci...,3 hóspedes,2 quartos,2 camas,1 banheiro,Estacionamento gratuito,Wi-Fi,Ar-condicionado,Cozinha,4.73,37,271,582.000,Raridade
1,1,40532701,2021-01-29,2021-01-31,Apartamento inteiro em Gonzaga,"Apartamento pé na areia, no melhor ponto de Sa...",4 hóspedes,1 quarto,2 camas,1 banheiro,Estacionamento gratuito,Wi-Fi,Ar-condicionado,Cozinha,4.90,21,273,696.000,Raridade
2,2,35494649,2021-01-29,2021-01-31,Condomínio inteiro em Gonzaga,Flat-Comodidades de Hotel e Café da Manhã Opci...,3 hóspedes,2 quartos,2 camas,1 banheiro,Wi-Fi,Self check-In,Secadora,Máquina de Lavar,4.73,37,271,582.000,Raridade
3,3,16205062,2021-01-29,2021-01-31,Apartamento inteiro em Santos,APARTAMENTO PERFEITO PARA LAZER EM SANTOS,4 hóspedes,1 quarto,3 camas,1 banheiro,Estacionamento gratuito,Vista para o mar,Cozinha,Elevador,4.69,32,171,342.000,Novo preço mais baixo
4,4,47137946,2021-01-29,2021-01-31,Apartamento inteiro em José Menino,BOOK SANTOS - Unlimited 1403 - Duplex vista Mar,5 hóspedes,2 quartos,4 camas,2 banheiros,Wi-Fi,Vista para as águas,Jacuzzi,Ar-condicionado,5.00,5,475,1.079,Raridade

In [4]:
dados_id.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
dados_id.drop(['titulo_2'], axis=1, inplace=True)

In [6]:
dados_id.drop(['preço_total'], axis=1, inplace=True)

**O que é esse super host? Precisamos manter?**

Vamos manter por enquanto

In [7]:
dados_id.head()

,id,check-in,check-out,titulo,atributo_1,atributo_2,atributo_3,atributo_4,atributo_5,atributo_6,atributo_7,atributo_8,avaliação,comentários,preço,superhost
0,35494649,2021-01-29,2021-01-31,Condomínio inteiro em Gonzaga,3 hóspedes,2 quartos,2 camas,1 banheiro,Estacionamento gratuito,Wi-Fi,Ar-condicionado,Cozinha,4.73,37,271,Raridade
1,40532701,2021-01-29,2021-01-31,Apartamento inteiro em Gonzaga,4 hóspedes,1 quarto,2 camas,1 banheiro,Estacionamento gratuito,Wi-Fi,Ar-condicionado,Cozinha,4.90,21,273,Raridade
2,35494649,2021-01-29,2021-01-31,Condomínio inteiro em Gonzaga,3 hóspedes,2 quartos,2 camas,1 banheiro,Wi-Fi,Self check-In,Secadora,Máquina de Lavar,4.73,37,271,Raridade
3,16205062,2021-01-29,2021-01-31,Apartamento inteiro em Santos,4 hóspedes,1 quarto,3 camas,1 banheiro,Estacionamento gratuito,Vista para o mar,Cozinha,Elevador,4.69,32,171,Novo preço mais baixo
4,47137946,2021-01-29,2021-01-31,Apartamento inteiro em José Menino,5 hóspedes,2 quartos,4 camas,2 banheiros,Wi-Fi,Vista para as águas,Jacuzzi,Ar-condicionado,5.00,5,475,Raridade

In [8]:
dados_id = dados_id.rename(columns={'id': 'ID', 'check-in': 'Check-In', 'check-out': 'Check-Out',
                           'titulo': 'Localização', 'atributo_1': 'Número Hóspedes',
                           'atributo_2': 'Número Quartos', 'atributo_3': 'Número Camas',
                           'atributo_4': 'Número Banheiros', 'atributo_5':'Plus 1','atributo_6':'Plus 2',
                           'atributo_7':'Plus 3','atributo_8':'Plus 4', 'avaliação':'Avaliação',
                           'comentários': 'Número Comentários', 'preço': 'Preço/Noite',
                           'superhost': 'Superhost'})

In [9]:
dados_id.head()

,ID,Check-In,Check-Out,Localização,Número Hóspedes,Número Quartos,Número Camas,Número Banheiros,Plus 1,Plus 2,Plus 3,Plus 4,Avaliação,Número Comentários,Preço/Noite,Superhost
0,35494649,2021-01-29,2021-01-31,Condomínio inteiro em Gonzaga,3 hóspedes,2 quartos,2 camas,1 banheiro,Estacionamento gratuito,Wi-Fi,Ar-condicionado,Cozinha,4.73,37,271,Raridade
1,40532701,2021-01-29,2021-01-31,Apartamento inteiro em Gonzaga,4 hóspedes,1 quarto,2 camas,1 banheiro,Estacionamento gratuito,Wi-Fi,Ar-condicionado,Cozinha,4.90,21,273,Raridade
2,35494649,2021-01-29,2021-01-31,Condomínio inteiro em Gonzaga,3 hóspedes,2 quartos,2 camas,1 banheiro,Wi-Fi,Self check-In,Secadora,Máquina de Lavar,4.73,37,271,Raridade
3,16205062,2021-01-29,2021-01-31,Apartamento inteiro em Santos,4 hóspedes,1 quarto,3 camas,1 banheiro,Estacionamento gratuito,Vista para o mar,Cozinha,Elevador,4.69,32,171,Novo preço mais baixo
4,47137946,2021-01-29,2021-01-31,Apartamento inteiro em José Menino,5 hóspedes,2 quartos,4 camas,2 banheiros,Wi-Fi,Vista para as águas,Jacuzzi,Ar-condicionado,5.00,5,475,Raridade

In [10]:
np.array(dados_id['Localização'])

array(['Condomínio inteiro em Gonzaga', 'Apartamento inteiro em Gonzaga',
       'Condomínio inteiro em Gonzaga', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Guarujá',
       'Condomínio inteiro em José Menino',
       'Apartamento inteiro em Santos',
       'Apartamento inteiro em Aparecida',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Centro',
       'Apartamento inteiro em Boqueirão',
       'Suíte de visitas inteira em Vila Julia',
       'Apartamento inteiro em Aviação',
       'Apartamento inteiro em Jardim Centenario',
       'Condomínio inteiro em Aparecida',
       'Apartamento inteiro em Aparecida',
       'Apartamento inteiro em Guilhermina',
       'Apartamento inteiro em Guarujá',
       'Apartamento inteiro em Pitangueira',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Aparecida',
       'Apartamento inteiro em Balneario Cidade Atlantica',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Guarujá',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Santos',
       'Quarto inteiro em Jardim Las Palmas',
       'Apartamento inteiro em Gonzaga',
       'Apartamento inteiro em José Menino',
       'Condomínio inteiro em São Vicente',
       'Apartamento inteiro em José Menino',
       'Condomínio inteiro em Itararé', 'Apartamento inteiro em Gonzaga',
       'Apartamento inteiro em Itararé', 'Apartamento inteiro em Centro',
       'Apartamento inteiro em Centro', 'Apartamento inteiro em Itararé',
       'Apartamento inteiro em Gonzaga',
       'Apartamento inteiro em Aparecida',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Boqueirão',
       'Apartamento inteiro em Jardim Tres Marias',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Boqueirão',
       'Apartamento inteiro em São Vicente',
       'Apartamento inteiro em José Menino',
       'Condomínio inteiro em Aparecida', 'Flat inteiro em Boqueirão',
       'Apartamento inteiro em Itararé', 'Apartamento inteiro em Tortuga',
       'Apartamento inteiro em Santos',
       'Apartamento inteiro em Gonzaguinha',
       'Suíte de visitas inteira em Vila Julia',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Santos',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Santos', 'Loft inteiro em Ilha Porchat',
       'Condomínio inteiro em Santos', 'Apartamento inteiro em Gonzaga',
       'Apartamento inteiro em Itararé',
       'Apartamento inteiro em José Menino',
       'Condomínio inteiro em São Vicente',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em José Menino',
       'Condomínio inteiro em Itararé', 'Apartamento inteiro em Gonzaga',
       'Apartamento inteiro em Itararé', 'Apartamento inteiro em Centro',
       'Apartamento inteiro em Centro', 'Apartamento inteiro em Itararé',
       'Apartamento inteiro em Gonzaga',
       'Apartamento inteiro em Boqueirão',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Itarare',
       'Quarto inteiro em Balneario Cidade Atlantica',
       'Apartamento inteiro em Aparecida',
       'Apartamento inteiro em Guilhermina',
       'Apartamento inteiro em Guarujá',
       'Apartamento inteiro em Pitangueira',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Gonzaga', 'Apartamento inteiro em Santos',
       'Quarto inteiro em Guarujá', 'Apartamento inteiro em Vila Julia',
       'Apartamento inteiro em Guarujá', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Itararé',
       'Apartamento inteiro em Aparecida',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Jardim Tres Marias',
       'Apartamento inteiro em Embaré',
       'Apartamento inteiro em São Vicente',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Ilha Porchat',
       'Apartamento inteiro em Santos',
       'Apartamento inteiro em Ponta da Praia',
       'Apartamento inteiro em Santos',
       'Apartamento inteiro em Boqueirão',
       'Apartamento inteiro em Santos', 'Flat inteiro em Boqueirão',
       'Apartamento inteiro em Guarujá', 'Apartamento inteiro em Guarujá',
       'Apartamento inteiro em Guarujá',
       'Apartamento inteiro em Boa Vista',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Guarujá', 'Apartamento inteiro em Centro',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Guarujá', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Guarujá',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Embaré', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Itarare',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Aparecida',
       'Apartamento inteiro em Jardim Tres Marias',
       'Apartamento inteiro em Itararé',
       'Apartamento inteiro em São Vicente',
       'Apartamento inteiro em Embaré', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Embaré',
       'Apartamento inteiro em Guilhermina',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Aparecida',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Santos',
       'Apartamento inteiro em José Menino',
       'Loft inteiro em Ilha Porchat',
       'Apartamento inteiro em Jardim Las Palmas',
       'Loft inteiro em Embaré', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Itarare',
       'Apartamento inteiro em Centervalle',
       'Apartamento inteiro em Guarujá',
       'Apartamento inteiro em Jardim Las Palmas',
       'Apartamento inteiro em Boqueirão',
       'Apartamento inteiro em Boqueirão',
       'Apartamento inteiro em Santos',
       'Apartamento inteiro em Aparecida',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Itararé',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Gonzaga',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em José Menino',
       'Flat inteiro em São Vicente', 'Apartamento inteiro em Gonzaga',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Aviação', 'Apartamento inteiro em Santos',
       'Condomínio inteiro em Itararé',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Centro',
       'Apartamento inteiro em José Menino',
       'Condomínio inteiro em José Menino',
       'Apartamento inteiro em Jardim Belmar',
       'Condomínio inteiro em Loteamento Joao Batista Juliao',
       'Apartamento inteiro em Balneario Cidade Atlantica',
       'Quarto inteiro em Jardim Vitoria',
       'Apartamento inteiro em Gonzaga', 'Apartamento inteiro em Itararé',
       'Apartamento inteiro em São Vicente',
       'Apartamento inteiro em Guarujá', 'Apartamento inteiro em Embaré',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Guarujá',
       'Condomínio inteiro em Ponta da Praia',
       'Apartamento inteiro em Santos',
       'Apartamento inteiro em Jardim Tres Marias',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Guarujá',
       'Apartamento inteiro em Boa Vista',
       'Apartamento inteiro em Guarujá', 'Apartamento inteiro em Itararé',
       'Apartamento inteiro em Santos',
       'Condomínio inteiro em José Menino',
       'Suíte de visitas inteira em Vila Julia',
       'Apartamento inteiro em Jardim Centenario',
       'Apartamento inteiro em Itararé',
       'Apartamento inteiro em Jardim Las Palmas',
       'Apartamento inteiro em Ponta da Praia',
       'Apartamento inteiro em Guarujá', 'Apartamento inteiro em Guarujá',
       'Apartamento inteiro em Embaré', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Santos',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Santos',
       'Loft inteiro em Ilha Porchat', 'Apartamento inteiro em Gonzaga',
       'Condomínio inteiro em Santos', 'Apartamento inteiro em Itararé',
       'Apartamento inteiro em José Menino',
       'Apartamento inteiro em José Menino',
       'Flat inteiro em São Vicente', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Itararé', 'Condomínio inteiro em Santos',
       'Apartamento inteiro em Ilha Porchat',
       'Apartamento inteiro em Santos',
       'Quarto inteiro em Balneario Cidade Atlantica',
       'Apartamento inteiro em Vila Alzira',
       'Apartamento inteiro em Santos', 'Quarto inteiro em Guarujá',
       'Apartamento inteiro em Vila Julia',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Itararé',
       'Apartamento inteiro em Jardim Las Palmas',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Santos',
       'Apartamento inteiro em Santos', 'Apartamento inteiro em Itararé',
       'Condomínio inteiro em Ponta da Praia',
       'Condomínio inteiro em Embaré', 'Apartamento inteiro em Guarujá',
       'Apartamento inteiro em São Vicente',
       'Apartamento inteiro em Guilhermina',
       'Apartamento inteiro em Santos',
       'Apartamento inteiro em Boqueirão'], dtype=object)

In [11]:
dados_id['Localização'] = dados_id['Localização'].str.replace('Apartamento inteiro em ','')
dados_id['Localização'] = dados_id['Localização'].str.replace('Condomínio inteiro em ','')
dados_id['Localização'] = dados_id['Localização'].str.replace('Quarto inteiro em ','')
dados_id['Localização'] = dados_id['Localização'].str.replace('Flat inteiro em ','')
dados_id['Localização'] = dados_id['Localização'].str.replace('Loft inteiro em ','')
dados_id['Localização'] = dados_id['Localização'].str.replace('Suíte de visitas inteira em ','')
dados_id['Número Hóspedes'] = dados_id['Número Hóspedes'].str.replace(' hóspedes','')
dados_id['Número Quartos'] = dados_id['Número Quartos'].str.replace(' quartos','')
dados_id['Número Quartos'] = dados_id['Número Quartos'].str.replace(' quarto','')
dados_id['Número Camas'] = dados_id['Número Camas'].str.replace(' camas','')
dados_id['Número Camas'] = dados_id['Número Camas'].str.replace(' cama','')
dados_id['Número Banheiros'] = dados_id['Número Banheiros'].str.replace(' banheiros','')
dados_id['Número Banheiros'] = dados_id['Número Banheiros'].str.replace(' banheiro','')

**Estamos tratando Número Banheiros / Camas / Quartos / Hóspedes como categóricas, pois temos estúdios, compartilhados.**

In [12]:
x = dados_id.drop_duplicates('Localização')
np.array(x['Localização'])

array(['Gonzaga', 'Santos', 'José Menino', 'Guarujá', 'Aparecida',
       'Centro', 'Boqueirão', 'Vila Julia', 'Aviação',
       'Jardim Centenario', 'Guilhermina', 'Pitangueira',
       'Balneario Cidade Atlantica', 'Jardim Las Palmas', 'São Vicente',
       'Itararé', 'Jardim Tres Marias', 'Tortuga', 'Gonzaguinha',
       'Ilha Porchat', 'Itarare', 'Embaré', 'Ponta da Praia', 'Boa Vista',
       'Centervalle', 'Jardim Belmar', 'Loteamento Joao Batista Juliao',
       'Jardim Vitoria', 'Vila Alzira'], dtype=object)

In [13]:
np.array(dados_id['Número Quartos'])

array(['2', '1', '2', '1', '2', '1', '2', '1', '3', '1', '3', '1', '1',
       '2', '2', '1', '2', '2', '3', '1', '1', '2', '1', '1', '2', '2',
       '1', '1', '1', '1', '1', 'Estúdio', '1', '1', 'Estúdio', '1', '1',
       '1', '1', '3', '1', '3', '3', '2', '2', '3', '1', '1', '1', '1',
       '2', '2', '1', 'Estúdio', '1', '1', '1', '1', '1', '2', '1', '3',
       '1', '2', '1', '1', 'Estúdio', 'Estúdio', '1', '1', 'Estúdio', '1',
       '1', '1', '1', '3', '1', '1', '1', 'Estúdio', '1', '2', '2', '3',
       '1', '1', '2', '2', '1', '1', '2', '1', '1', '1', '2', '3', '1',
       '3', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '2',
       'Estúdio', '3', '1', '1', '2', '3', '2', '1', '2', '1', 'Estúdio',
       '1', 'Estúdio', '2', '1', '1', '1', '1', 'Estúdio', '1', '2', '3',
       '1', '1', 'Estúdio', '1', 'Estúdio', '1', '1', '1', '2', '1', '2',
       '1', '1', '2', '1', '1', 'Estúdio', '3', '2', '2', '1', '1', '1',
       '2', '1', '1', '1', '2', '1', '1', '1', '1', 'Estúdio', '1',
       'Estúdio', '2', '2', '1', '1', '1', '1', '2', '3', '2', '1', '1',
       '1', '2', '1', '2', '3', '2', '1', 'Estúdio', '1', '3', '1', '1',
       '1', '2', '1', '1', '2', '1', '2', '1', '2', '1', '2', '2', '2',
       '1', '1', '1', '1', '2', '1', '1', '3', '2', '1', '1', 'Estúdio',
       '1', '2', '3', '1', '2', '1', '3', '1', '1', '1', '1', '1', '2',
       '1', '1', '1', '2', 'Estúdio', '1', '1', '1', '2', '2', '1'],
      dtype=object)

In [14]:
dados_id.isnull().sum()

ID                    0
Check-In              0
Check-Out             0
Localização           0
Número Hóspedes       0
Número Quartos        0
Número Camas          0
Número Banheiros      0
Plus 1                0
Plus 2                0
Plus 3                0
Plus 4                0
Avaliação             0
Número Comentários    0
Preço/Noite           0
Superhost             0
dtype: int64

In [15]:
dados_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  239 non-null    int64
 1   Check-In            239 non-null    object
 2   Check-Out           239 non-null    object
 3   Localização         239 non-null    object
 4   Número Hóspedes     239 non-null    object
 5   Número Quartos      239 non-null    object
 6   Número Camas        239 non-null    object
 7   Número Banheiros    239 non-null    object
 8   Plus 1              239 non-null    object
 9   Plus 2              239 non-null    object
 10  Plus 3              239 non-null    object
 11  Plus 4              239 non-null    object
 12  Avaliação           239 non-null    float64
 13  Número Comentários  239 non-null    int64
 14  Preço/Noite         239 non-null    int64
 15  Superhost           239 non-null    object
dtypes: float64(1), int64(3), object(12)
memory usage: 30.0+ KB

In [16]:
dados_id['ID'] = dados_id['ID'].astype('object')
dados_id['Check-In'] = pd.to_datetime(dados_id['Check-In'], format='%Y-%m-%d')
dados_id['Check-Out'] = pd.to_datetime(dados_id['Check-Out'], format='%Y-%m-%d')

In [17]:
dados_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  239 non-null    object
 1   Check-In            239 non-null    datetime64[ns]
 2   Check-Out           239 non-null    datetime64[ns]
 3   Localização         239 non-null    object
 4   Número Hóspedes     239 non-null    object
 5   Número Quartos      239 non-null    object
 6   Número Camas        239 non-null    object
 7   Número Banheiros    239 non-null    object
 8   Plus 1              239 non-null    object
 9   Plus 2              239 non-null    object
 10  Plus 3              239 non-null    object
 11  Plus 4              239 non-null    object
 12  Avaliação           239 non-null    float64
 13  Número Comentários  239 non-null    int64
 14  Preço/Noite         239 non-null    int64
 15  Superhost           239 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(2), object(11)
memory usage: 30.0+ KB

In [18]:
(dados_id['Check-In'] > '2021-01-31').sum()

0

In [19]:
(dados_id['Check-Out'] > '2021-01-31').sum()

0

In [20]:
dados_id.describe()

        Avaliação  Número Comentários  Preço/Noite
count  239.000000          239.000000   239.000000
mean     4.838536           36.368201   287.682008
std      0.180717           35.599051   146.474534
min      3.670000            3.000000   117.000000
25%      4.765000           11.000000   183.000000
50%      4.890000           25.000000   257.000000
75%      4.960000           49.000000   340.000000
max      5.000000          198.000000   975.000000

In [21]:
dados_id.shape

(239, 16)

In [22]:
dados_id = dados_id.drop_duplicates(keep='first')

In [23]:
dados_id.shape

(239, 16)

In [24]:
dados_id['ID'].unique()

array([35494649, 40532701, 16205062, 47137946, 36268227, 44376685,
       31436143, 40060303, 41136046, 45325389, 44250883, 22896213,
       46833625, 21124410, 23175564, 35787079, 42238166, 16062761,
       35083002, 46941320, 44433886, 20283404, 20960671, 21527286,
       22809968, 25858398, 29647093, 46033720, 42517975, 42170485,
       46192069, 40200361, 45884578, 44860968, 46488250, 45954237,
       47517305, 35258533, 28105266, 41886804, 20411125, 22577411,
       30289911, 25068887, 37121015, 33687829, 36033418, 40844259,
       24115709, 46287455, 16548139, 44914895, 36032633, 46281553,
       22135736, 21675628, 6290885, 17164214, 30282988, 22105045,
       45353334, 4866616, 22895642, 46706270, 16068973, 37602479,
       16215330, 45740885, 30501188, 38777987, 14334553, 31541245,
       16256715, 44167993, 31682491, 18055533, 15230258, 46680407,
       30997476, 46604376, 42805253, 46311254, 42037869, 31823533,
       45020057, 21160438, 39026513, 46401165, 38605568, 16699654,
       32747463, 46070466, 41101296, 30224260, 20980797, 20919616,
       22157785, 41141112, 13629222, 40547114, 20713038, 28382287,
       32511427, 22085765, 30692366, 35592746], dtype=object)

In [25]:
colunas_constantes = []
for col in dados_id.columns:
    if len(dados_id[col].unique()) == 1:
        colunas_constantes.append(col)
    else:
        print(f'{col} OK')

ID OK
Localização OK
Número Hóspedes OK
Número Quartos OK
Número Camas OK
Número Banheiros OK
Plus 1 OK
Plus 2 OK
Plus 3 OK
Plus 4 OK
Avaliação OK
Número Comentários OK
Preço/Noite OK
Superhost OK

In [26]:
colunas_constantes

['Check-In', 'Check-Out']

In [27]:
dados_id['Check-In']

0     2021-01-29
1     2021-01-29
2     2021-01-29
3     2021-01-29
4     2021-01-29
         ...
234   2021-01-29
235   2021-01-29
236   2021-01-29
237   2021-01-29
238   2021-01-29
Name: Check-In, Length: 239, dtype: datetime64[ns]

In [28]:
dados_id

,ID,Check-In,Check-Out,Localização,Número Hóspedes,Número Quartos,Número Camas,Número Banheiros,Plus 1,Plus 2,Plus 3,Plus 4,Avaliação,Número Comentários,Preço/Noite,Superhost
0,35494649,2021-01-29,2021-01-31,Gonzaga,3,2,2,1,Estacionamento gratuito,Wi-Fi,Ar-condicionado,Cozinha,4.73,37,271,Raridade
1,40532701,2021-01-29,2021-01-31,Gonzaga,4,1,2,1,Estacionamento gratuito,Wi-Fi,Ar-condicionado,Cozinha,4.90,21,273,Raridade
2,35494649,2021-01-29,2021-01-31,Gonzaga,3,2,2,1,Wi-Fi,Self check-In,Secadora,Máquina de Lavar,4.73,37,271,Raridade
3,16205062,2021-01-29,2021-01-31,Santos,4,1,3,1,Estacionamento gratuito,Vista para o mar,Cozinha,Elevador,4.69,32,171,Novo preço mais baixo
4,47137946,2021-01-29,2021-01-31,José Menino,5,2,4,2,Wi-Fi,Vista para as águas,Jacuzzi,Ar-condicionado,5.00,5,475,Raridade
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,36268227,2021-01-29,2021-01-31,Guarujá,4,1,6,1,Wi-Fi,Cozinha,Máquina de Lavar,Vista para o mar,5.00,13,181,Novo preço mais baixo
235,42805253,2021-01-29,2021-01-31,São Vicente,4,1,2,1,Estacionamento gratuito,Wi-Fi,Ar-condicionado,Cozinha,4.81,16,209,Novo preço mais baixo
236,42238166,2021-01-29,2021-01-31,Guilhermina,6,2,2,2,Estacionamento gratuito,Wi-Fi,Ar-condicionado,Cozinha,5.00,9,295,Novo preço mais baixo
237,18055533,2021-01-29,2021-01-31,Santos,5,2,2,1 e meio,Estacionamento gratuito,Wi-Fi,Ar-condicionado,Cozinha,4.76,25,296,Novo preço mais baixo
238,46070466,2021-01-29,2021-01-31,Boqueirão,3,1,1,1 e meio,Ar-condicionado,Cozinha,Estacionamento gratuito,Vista para o mar,4.67,3,183,Novo preço mais baixo

In [134]:
dados_id.to_csv('Dados Airbnb Santos.csv')