# 4. Feature Selection

In [44]:
# libs:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',60)

#Testes estatísticos
import scipy
from scipy.stats import stats
import statsmodels.api as sm

from feature_engine.categorical_encoders import CountFrequencyCategoricalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

#fearture selection:
from sklearn.feature_selection import f_classif, chi2
from statsmodels.stats.outliers_influence import variance_inflation_factor
from scipy.stats import chi2_contingency
from scipy.stats import pointbiserialr
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.model_selection import StratifiedKFold
from boruta import BorutaPy
from sklearn.feature_selection import RFECV
from sklearn.ensemble import RandomForestRegressor

import warnings
warnings.filterwarnings("ignore")

Vamos utilizar o método de votação marjoritáia. 3 Propostas de seleção.
<br>
* Teste estatístico
* RFECV
* Boruta<br>

As features que forem mantidas por pelo menos 2 algoritmos serão utilizadas no processo de modelagem

## Dados Constantes

In [45]:
DATA_INPUT_ENG = '../data/DATA_train_eng.csv'
DATA_OUTPUT_FEAT_SELECTED = '../data/DATA_feature_selected.csv'

In [46]:
df_train = pd.read_csv(DATA_INPUT_ENG)

**Dropar variáveis que não vamos utilizar**

In [47]:
# Vamos dropar algumas colunas
df_train = df_train.drop({'Unnamed: 0','ID', 'Check-In', 'Check-Out', 'Preço com taxas', 'Diária com taxas'}, axis=1)

In [48]:
df_train.head()

,Localização,Número Hóspedes,Número Quartos,Número Camas,Número Banheiros,Avaliação,Número Comentários,Preço/Noite,Academia,Ar-condicionado,Cozinha,Elevador,Estacionamento gratuito,Máquina de Lavar,Permitido animais,Piscina,Secadora,Self check-In,Wi-Fi,Café da Manhã,Entrada/saída para esquis,Jacuzzi,Lareira interna,Lava-louças,Novo preço mais baixo,Raridade,Banheiro Compartilhado,Taxa,Vista,Demanda,É_feriado,É outilier,Mes,Dia,Semana_do_ano,Semana de Feriado
0,0.029461,4,1,3,1,5.00,18,184.0,0,1,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,False,60.0,0,0,0,0,3,5,9,0.0
1,0.042766,4,1,4,1,4.83,41,198.0,0,1,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,False,30.0,0,0,0,0,3,19,11,0.0
2,0.003089,10,3,8,2,4.43,7,351.0,0,0,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,1,False,0.0,0,0,0,0,3,5,9,0.0
3,0.018769,4,1,2,1,4.40,5,191.0,0,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,False,60.0,0,0,0,0,3,26,12,0.0
4,0.018769,4,1,4,1,5.00,3,124.0,0,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,False,58.0,0,0,0,0,2,26,8,0.0

In [49]:
df_train.shape

(4209, 36)

In [50]:
# Divisão para os testes Wrap methods
X_train = df_train.drop('Preço/Noite', axis=1)
y_train = df_train['Preço/Noite']

**Tratamento de alguns tipos:**

In [51]:
df_train.dtypes

Localização                  float64
Número Hóspedes                int64
Número Quartos                 int64
Número Camas                   int64
Número Banheiros               int64
Avaliação                    float64
Número Comentários             int64
Preço/Noite                  float64
Academia                       int64
Ar-condicionado                int64
Cozinha                        int64
Elevador                       int64
Estacionamento gratuito        int64
Máquina de Lavar               int64
Permitido animais              int64
Piscina                        int64
Secadora                       int64
Self check-In                  int64
Wi-Fi                          int64
Café da Manhã                  int64
Entrada/saída para esquis      int64
Jacuzzi                        int64
Lareira interna                int64
Lava-louças                    int64
Novo preço mais baixo          int64
Raridade                       int64
Banheiro Compartilhado          bool
Taxa                         float64
Vista                          int64
Demanda                        int64
É_feriado                      int64
É outilier                     int64
Mes                            int64
Dia                            int64
Semana_do_ano                  int64
Semana de Feriado            float64
dtype: object

**Divisão entre as variáveis númericas e categóricas**

In [52]:
features_num = ['Número Hóspedes', 'Número Quartos', 'Número Camas','Número Banheiros', 
                 'Avaliação', 'Número Comentários', 'Taxa', 'Dia', 'Mes']

In [53]:
features_cat = [ 'Localização', 'Academia','Ar-condicionado', 'Cozinha', 'Elevador',
                       'Estacionamento gratuito', 'Máquina de Lavar', 'Permitido animais',
                       'Piscina', 'Secadora', 'Self check-In', 'Wi-Fi', 'Café da Manhã',
                       'Entrada/saída para esquis', 'Jacuzzi', 'Lareira interna',
                       'Lava-louças', 'Novo preço mais baixo', 'Raridade',
                       'Banheiro Compartilhado','Vista', 'Demanda', 'É_feriado',
                       'É outilier', 'Semana_do_ano', 'Semana de Feriado']

In [54]:
Target = ['Preço/Noite']

In [55]:
# Conversão de Tipos
for col in features_cat:
    df_train[col] = df_train[col].astype(str)

In [56]:
df_train.dtypes

Localização                   object
Número Hóspedes                int64
Número Quartos                 int64
Número Camas                   int64
Número Banheiros               int64
Avaliação                    float64
Número Comentários             int64
Preço/Noite                  float64
Academia                      object
Ar-condicionado               object
Cozinha                       object
Elevador                      object
Estacionamento gratuito       object
Máquina de Lavar              object
Permitido animais             object
Piscina                       object
Secadora                      object
Self check-In                 object
Wi-Fi                         object
Café da Manhã                 object
Entrada/saída para esquis     object
Jacuzzi                       object
Lareira interna               object
Lava-louças                   object
Novo preço mais baixo         object
Raridade                      object
Banheiro Compartilhado        object
Taxa                         float64
Vista                         object
Demanda                       object
É_feriado                     object
É outilier                    object
Mes                            int64
Dia                            int64
Semana_do_ano                 object
Semana de Feriado             object
dtype: object

Tudo Pronto!

## 4.1 Testes Estatísticos:

### Features Númericas:

### 1. Teste de Correlação

In [57]:
# Teste de correlação
def teste_correlacao(df, Target, features, alpha=0.05):
    """
    df = Dataframe
    Target = target
    features = numeric features to be tested
    Return list of variable which are correlationed with target
    """
    correlation = []
    no_correlation = []
    for col in features:
        cor, p = stats.spearmanr(df_train[col],df_train[Target])
        if p <= alpha:
            correlation.append(col)
        else:
            no_correlation.append(col)
            
    return correlation

In [58]:
correlation = teste_correlacao(df_train, Target, features_num)
correlation

['Número Hóspedes',
 'Número Quartos',
 'Número Camas',
 'Número Banheiros',
 'Avaliação',
 'Número Comentários',
 'Taxa',
 'Dia',
 'Mes']

### Features categóricas:

### Chi2

In [59]:
def teste_chi2_(df, Target='Target', features_cat=features_cat, aplha=0.05):
    """
    Chi2 test
    df = DataFrame
    Target = Target string
    features = List of categorical features
    aplha = indice of significance
    Return a list of variable which has passed for Chi2 test
    """
    from scipy.stats import chi2_contingency
    p_values_cat_features = {}
    for col in features_cat:
        # Cria tabela de contingencia
        df_cross = pd.crosstab(df[col], df[Target])
        # Aplica o teste e extrai o p-valor
        p_value = scipy.stats.chi2_contingency(df_cross)[1]
        # Armazena coluna e p-valor em um dict
        p_values_cat_features[col] = p_value
        
    p_values_cat_features = pd.Series(p_values_cat_features)
    filter_cat_features = p_values_cat_features[p_values_cat_features < aplha].index.tolist()
        
    return filter_cat_features

In [60]:
chi2 = teste_chi2_(df_train, Target = 'Preço/Noite', features_cat=features_cat)

In [61]:
chi2

['Localização',
 'Academia',
 'Ar-condicionado',
 'Cozinha',
 'Elevador',
 'Estacionamento gratuito',
 'Máquina de Lavar',
 'Permitido animais',
 'Piscina',
 'Secadora',
 'Self check-In',
 'Wi-Fi',
 'Café da Manhã',
 'Entrada/saída para esquis',
 'Jacuzzi',
 'Lareira interna',
 'Lava-louças',
 'Novo preço mais baixo',
 'Raridade',
 'Banheiro Compartilhado',
 'Vista',
 'Demanda',
 'É_feriado',
 'É outilier',
 'Semana_do_ano',
 'Semana de Feriado']

Pelo processo de correlação, todas passaram pelo teste, porém pelo teste de Multicolinearidade. Número de quartos e número de hospedes não passaram.

## 4.2 RFECV

Para este teste vamos utilizar o Dataframe encode

In [62]:
def teste_rfe(X_train, y_train):
    """
    RFE Test
    X_train = Dataframe with all features to be tested and not target
    y_train = Target
    Return a list of varibales which has passed for the test
    """
    from sklearn.feature_selection import RFECV
    from sklearn.ensemble import RandomForestRegressor
    rfecv_RFC = RFECV(estimator=RandomForestRegressor(n_jobs = -1, max_depth = 5), scoring='neg_mean_squared_error')
    rfecv_RFC.fit(X_train,y_train)
    mask_RFC = rfecv_RFC.support_
    cols_selected_RFE = X_train.columns.tolist()
    
    return cols_selected_RFE

In [63]:
rfe = teste_rfe(X_train, y_train)

In [64]:
rfe

['Localização',
 'Número Hóspedes',
 'Número Quartos',
 'Número Camas',
 'Número Banheiros',
 'Avaliação',
 'Número Comentários',
 'Academia',
 'Ar-condicionado',
 'Cozinha',
 'Elevador',
 'Estacionamento gratuito',
 'Máquina de Lavar',
 'Permitido animais',
 'Piscina',
 'Secadora',
 'Self check-In',
 'Wi-Fi',
 'Café da Manhã',
 'Entrada/saída para esquis',
 'Jacuzzi',
 'Lareira interna',
 'Lava-louças',
 'Novo preço mais baixo',
 'Raridade',
 'Banheiro Compartilhado',
 'Taxa',
 'Vista',
 'Demanda',
 'É_feriado',
 'É outilier',
 'Mes',
 'Dia',
 'Semana_do_ano',
 'Semana de Feriado']

## 4.3 Boruta

In [65]:
def teste_boruta(X_train, y_train):
    """
    Boruta Test - Return features which was aproved
    X_train = Dataframe with all features to be tested and not target
    y_train = Target
    Return a list of varibales which has passed for the test
    """
    from boruta import BorutaPy
    from sklearn.ensemble import RandomForestRegressor
    # -1 indica para o python usar todo o processador 
    boruta_selector = BorutaPy(RandomForestRegressor(n_jobs = -1, max_depth = 5), n_estimators = 50, max_iter=100, random_state = 0)
    boruta_selector.fit(np.array(X_train), np.array(y_train))
    boruta_selector.support_
    boruta_selector.support_weak_
    features_boruta = X_train.loc[:, boruta_selector.support_].columns.tolist()

    return features_boruta

In [66]:
boruta = teste_boruta(X_train, y_train)

In [67]:
boruta

['Localização',
 'Número Hóspedes',
 'Número Quartos',
 'Número Camas',
 'Número Banheiros',
 'Avaliação',
 'Número Comentários',
 'Academia',
 'Permitido animais',
 'Piscina',
 'Jacuzzi',
 'Novo preço mais baixo',
 'Raridade',
 'Taxa',
 'É outilier',
 'Mes',
 'Semana_do_ano']

# 4.4 Variáveis Selecionadas

### Testes estatísticos:

In [68]:
correlation

['Número Hóspedes',
 'Número Quartos',
 'Número Camas',
 'Número Banheiros',
 'Avaliação',
 'Número Comentários',
 'Taxa',
 'Dia',
 'Mes']

In [69]:
chi2

['Localização',
 'Academia',
 'Ar-condicionado',
 'Cozinha',
 'Elevador',
 'Estacionamento gratuito',
 'Máquina de Lavar',
 'Permitido animais',
 'Piscina',
 'Secadora',
 'Self check-In',
 'Wi-Fi',
 'Café da Manhã',
 'Entrada/saída para esquis',
 'Jacuzzi',
 'Lareira interna',
 'Lava-louças',
 'Novo preço mais baixo',
 'Raridade',
 'Banheiro Compartilhado',
 'Vista',
 'Demanda',
 'É_feriado',
 'É outilier',
 'Semana_do_ano',
 'Semana de Feriado']

In [70]:
#vif

In [71]:
#statistic_test_num = list(set(correlation).intersection(set(vif)))

In [72]:
def feature_results(correlation, chi2, rfe, boruta):
    """
    Feature Selection among different tests
    correlation = list of variables from teste_correlation
    chi2 = list of variables from teste_chi2
    rfe = list of variables from teste_rfe
    boruta = list of variables from teste_boruta
    Return features which has passed from two tests at least.
    """
    # Junção dos testes de correlação e Chi2
    statistic_test = correlation + chi2
    # Interserção entre testes estatísticos e RFE
    statistic_test_rfe = list(set(statistic_test).intersection(set(rfe)))
    # Quem passou no primeiro que também passou no boruta
    feature_selection = list(set(statistic_test_rfe).intersection(set(boruta)))
    
    return feature_selection

In [73]:
def feature_results__(correlation, chi2, rfe, boruta):


    # Junção dos testes de correlação e Chi2
    statistic_test = correlation + chi2
    # Interserção entre testes estatísticos e RFE
    statistic_test_rfe = list(set(statistic_test).intersection(set(rfe)))
    # Interserção entre testes estatísticos e boruta
    statistic_test_boruta = list(set(statistic_test).intersection(set(boruta)))
    # Interserção entre rfe e boruta
    rfe_boruta = list(set(rfe).intersection(set(boruta)))
    
    # Quem passou no primeiro que também passou no boruta
    feature_selection__ = set(statistic_test_rfe) & set(statistic_test_boruta) & set(rfe_boruta)
    
    return feature_selection__

In [74]:
feature_results__(correlation, chi2, rfe, boruta)

{'Academia',
 'Avaliação',
 'Jacuzzi',
 'Localização',
 'Mes',
 'Novo preço mais baixo',
 'Número Banheiros',
 'Número Camas',
 'Número Comentários',
 'Número Hóspedes',
 'Número Quartos',
 'Permitido animais',
 'Piscina',
 'Raridade',
 'Semana_do_ano',
 'Taxa',
 'É outilier'}

In [75]:
feature_selection = feature_results(correlation, chi2, rfe, boruta)

In [76]:
feature_selection

['Número Comentários',
 'Número Camas',
 'Raridade',
 'Novo preço mais baixo',
 'Número Hóspedes',
 'Permitido animais',
 'Avaliação',
 'Jacuzzi',
 'Semana_do_ano',
 'Mes',
 'Localização',
 'Academia',
 'Taxa',
 'É outilier',
 'Número Quartos',
 'Número Banheiros',
 'Piscina']

In [92]:
feature_selection_num = []
feature_selection_cat = []
count = 0
for i in feature_selection:
    if i in features_num:
        feature_selection_num.append(i)
    if i in features_cat:
        feature_selection_cat.append(i)
        count += 1

In [93]:
feature_selection_num

['Número Comentários',
 'Número Camas',
 'Número Hóspedes',
 'Mes',
 'Taxa',
 'Número Quartos',
 'Número Banheiros']

In [109]:
feature_selection_cat

['Raridade',
 'Novo preço mais baixo',
 'Permitido animais',
 'Jacuzzi',
 'Semana_do_ano',
 'Localização',
 'Academia',
 'É outilier',
 'Piscina']

# 4.5 Teste de Multicolineariade

In [99]:
def multicolinearidade(df, features):
    """
    V-Cramer test
    X = DataFrame without target
    features = numerical features to be tested
    Return a Dataframe with VIF score
    """  
    # VIF dataframe 
    vif_data = pd.DataFrame() 
    vif_data["feature"] = df.loc[:,features].columns 
    # calculando VIF 
    vif_data["VIF"] = [variance_inflation_factor(df.loc[:,features].values, i) for i in range(len(df.loc[:,features].columns))] 
    
    return vif_data.sort_values(by='VIF', ascending=False)

In [100]:
multicolinearidade(X_train, feature_selection_num)

              feature        VIF
5      Número Quartos  18.431163
6    Número Banheiros  13.868337
2     Número Hóspedes  12.101648
1        Número Camas   6.211218
3                 Mes   5.797885
4                Taxa   4.320247
0  Número Comentários   1.935669

In [101]:
feature_selection.remove('Número Quartos')

In [102]:
multicolinearidade(X_train, feature_selection_num)

              feature        VIF
5      Número Quartos  18.431163
6    Número Banheiros  13.868337
2     Número Hóspedes  12.101648
1        Número Camas   6.211218
3                 Mes   5.797885
4                Taxa   4.320247
0  Número Comentários   1.935669

In [103]:
feature_selection_num.remove('Número Quartos')

In [104]:
multicolinearidade(X_train, feature_selection_num)

              feature        VIF
2     Número Hóspedes  10.565242
5    Número Banheiros   8.419417
1        Número Camas   5.918743
3                 Mes   5.793528
4                Taxa   4.267290
0  Número Comentários   1.933112

In [105]:
vif = multicolinearidade(X_train, feature_selection_num)

In [106]:
def vif_list(vif):
    """
    Tranforming resut VIF test into a list of variables
    vif = DataFrame from teste_vif
    Return a list of variables 
    """
    vif = vif.pivot_table(columns='feature')
    vif = vif.columns.tolist()
    
    return vif

In [107]:
vif = vif_list(vif)

In [108]:
# Variáveis sem multicolinearidade
vif

['Mes',
 'Número Banheiros',
 'Número Camas',
 'Número Comentários',
 'Número Hóspedes',
 'Taxa']

In [ ]:
# Agora vamos juntar estas variáveis áquela que dropamos ante de passar no VIF.

Finalizado todos os testes, Temos um conjunto sem multicolinearidade para o modelo.

In [110]:
df_train = df_train[vif + feature_selection_cat + Target]

In [111]:
df_train

,Mes,Número Banheiros,Número Camas,Número Comentários,Número Hóspedes,Taxa,Raridade,Novo preço mais baixo,Permitido animais,Jacuzzi,Semana_do_ano,Localização,Academia,É outilier,Piscina,Preço/Noite
0,3,1,3,18,4,60.0,0,1,0,0,9,0.02946067949631741,0,0,1,184.0
1,3,1,4,41,4,30.0,1,0,0,0,11,0.04276550249465432,0,0,1,198.0
2,3,2,8,7,10,0.0,1,0,0,0,9,0.0030886196246139226,0,0,0,351.0
3,3,1,2,5,4,60.0,1,0,1,0,12,0.01876930387265384,0,0,0,191.0
4,2,1,4,3,4,58.0,0,1,1,0,8,0.01876930387265384,0,0,0,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,3,3,4,34,10,75.0,1,0,0,0,11,0.005939653124257543,0,0,1,581.0
4205,3,1,3,16,4,49.5,0,1,1,0,9,0.0033262057495842237,0,0,0,247.0
4206,3,1,2,6,6,10.0,0,1,1,0,9,0.011879306248515086,0,0,0,150.0
4207,3,1,6,38,6,10.0,0,1,0,0,11,0.009978617248752672,0,0,0,103.0
4208,3,2,9,7,12,50.0,1,0,0,0,12,0.009028272748871463,0,0,1,338.0

In [112]:
print(len(df_train.columns))

16

In [ ]:
# criar função de junção das features selecionadas no dataframe

# Export

In [113]:
DATA_OUTPUT_FEAT_SELECTED_V2 = '../data/DATA_feature_selected_V2.csv'

In [114]:
df_train.to_csv(DATA_OUTPUT_FEAT_SELECTED_V2)

# Função

In [ ]:

def teste_correlacao(df, Target, features, alpha=0.05):
    """
    df = Dataframe
    Target = target
    features = numeric features to be tested
    Return list of variable which are correlationed with target
    """
    correlation = []
    no_correlation = []
    for col in features:
        cor, p = stats.spearmanr(df_train[col],df_train[Target])
        if p <= alpha:
            correlation.append(col)
        else:
            no_correlation.append(col)
            
    return correlation


def teste_chi2_(df, Target='Target', features_cat=features_cat, aplha=0.05):
    """
    Chi2 test
    df = DataFrame
    Target = Target string
    features = List of categorical features
    aplha = indice of significance
    Return a list of variable which has passed for Chi2 test
    """
    from scipy.stats import chi2_contingency
    p_values_cat_features = {}
    for col in features_cat:
        # Cria tabela de contingencia
        df_cross = pd.crosstab(df[col], df[Target])
        # Aplica o teste e extrai o p-valor
        p_value = scipy.stats.chi2_contingency(df_cross)[1]
        # Armazena coluna e p-valor em um dict
        p_values_cat_features[col] = p_value
        
    p_values_cat_features = pd.Series(p_values_cat_features)
    filter_cat_features = p_values_cat_features[p_values_cat_features < aplha].index.tolist()
        
    return filter_cat_features


def multicolinearidade(df, features):
    """
    V-Cramer test
    df = DataFrame without Target
    features = numerical features to be tested
    Return a Dataframe with VIF score
    """  
    # VIF dataframe 
    vif_data = pd.DataFrame() 
    vif_data["feature"] = df.loc[:,features].columns 
    # calculando VIF 
    vif_data["VIF"] = [variance_inflation_factor(df.loc[:,features].values, i) for i in range(len(df.loc[:,features].columns))] 
    
    return vif_data.sort_values(by='VIF', ascending=False)



def teste_rfe(X_train, y_train):
    """
    RFE Test
    X_train = Dataframe with all features to be tested and not target
    y_train = Target
    Return a list of varibales which has passed for the test
    """
    from sklearn.feature_selection import RFECV
    from sklearn.ensemble import RandomForestRegressor
    rfecv_RFC = RFECV(estimator=RandomForestRegressor(n_jobs = -1, max_depth = 5), scoring='neg_mean_squared_error')
    rfecv_RFC.fit(X_train,y_train)
    mask_RFC = rfecv_RFC.support_
    cols_selected_RFE = X_train.columns.tolist()
    
    return cols_selected_RFE


def teste_boruta(X_train, y_train):
    """
    Boruta Test - Return features which was aproved
    X_train = Dataframe with all features to be tested and not target
    y_train = Target
    Return a list of varibales which has passed for the test
    """
    from boruta import BorutaPy
    from sklearn.ensemble import RandomForestRegressor
    # -1 indica para o python usar todo o processador 
    boruta_selector = BorutaPy(RandomForestRegressor(n_jobs = -1, max_depth = 5), n_estimators = 50, max_iter=100, random_state = 0)
    boruta_selector.fit(np.array(X_train), np.array(y_train))
    boruta_selector.support_
    boruta_selector.support_weak_
    features_boruta = X_train.loc[:, boruta_selector.support_].columns.tolist()

    return features_boruta 


def feature_results(correlation, chi2, rfe, boruta)
    """
    Feature Selection among different tests
    correlation = list of variables from teste_correlation
    chi2 = list of variables from teste_chi2
    rfe = list of variables from teste_rfe
    boruta = list of variables from teste_boruta
    Return features which has passed from two tests at least.
    """
    statistic_test = correlation + chi2
    statistic_test_rfe = list(set(statistic_test).intersection(set(rfe)))
    feature_selection = list(set(statistic_test_rfe).intersection(set(boruta)))
    
    return feature_selection