# 1.2 Contat All CSV by Scrapping

In [15]:
import pandas as pd
import numpy as np
import os
import sys
sys.path.append('..')

In [16]:
# Import das extrações em csv através de scrapping:

guaruja1 = pd.read_csv('../data/data_scrapping/airbnb_guaruja_fev.csv')
guaruja2= pd.read_csv('../data/data_scrapping/airbnb_guaruja_mar.csv')
praiagrande1 = pd.read_csv('../data/data_scrapping/airbnb_praiagrande_fev.csv')
praiagrande2 = pd.read_csv('../data/data_scrapping/airbnb_praiagrande_mar.csv')
santos1 = pd.read_csv('../data/data_scrapping/airbnb_santos_fevereiro.csv')
santos2 = pd.read_csv('../data/data_scrapping/airbnb_santos_marco_.csv')
santos3 = pd.read_csv('../data/data_scrapping/airbnb_santos_abril_.csv')
santos4 = pd.read_csv('../data/data_scrapping/airbnbsantos_extracao_24012021_com_id.csv')
mongagua1 = pd.read_csv('../data/data_scrapping/airbnb_monguagua_fev.csv')
mongagua2 = pd.read_csv('../data/data_scrapping/airbnb_monguagua_mar.csv')
bertioga1 = pd.read_csv('../data/data_scrapping/airbnb_bertioga_fev.csv')
bertioga2 = pd.read_csv('../data/data_scrapping/airbnb_bertioga_mar.csv')
itanhaem1 = pd.read_csv('../data/data_scrapping/airbnb_itanhaem_fev.csv')
itanhaem2 = pd.read_csv('../data/data_scrapping/airbnb_itanhaem_mar.csv')
peruibe1 = pd.read_csv('../data/data_scrapping/airbnb_peruibe_fev.csv')
peruibe2 = pd.read_csv('../data/data_scrapping/airbnb_peruibe_mar.csv')

In [17]:
# Concat nos DataFrames
df_baixada = pd.concat([guaruja1, 
                                guaruja2, 
                                praiagrande1,
                                praiagrande2,
                                santos1,
                                santos2,
                                santos3,
                                santos4,
                                mongagua1,
                                mongagua2,
                                bertioga1,
                               bertioga2,
                               itanhaem1,
                               itanhaem2,
                               peruibe1,
                               peruibe2], ignore_index=True)

In [18]:
df_baixada.shape

(7675, 19)

In [19]:
df_baixada = df_baixada.drop_duplicates(keep='first')

In [20]:
df_baixada.head()

,Unnamed: 0,id,check-in,check-out,titulo,titulo_2,atributo_1,atributo_2,atributo_3,atributo_4,atributo_5,atributo_6,atributo_7,atributo_8,avaliação,comentários,preço,preço_total,superhost
0,0,20193688,2021-02-26,2021-02-28,Apartamento inteiro em Jardim Las Palmas,Astúrias Apto aconchegante perto da praia,2 hóspedes,1 quarto,1 cama,1 banheiro,Ar-condicionado,Piscina,Cozinha,Estacionamento gratuito,4.82,46,228.0,456.0,Novo preço mais baixo
1,1,37237280,2021-02-26,2021-02-28,Quarto inteiro em Pitangueiras,Suíte Guarujá apto Frente Mar 2,7 hóspedes,1 quarto,4 camas,1 banheiro e meio,Wi-Fi,Cozinha,Permitido animais,Elevador,4.67,21,185.0,369.0,Novo preço mais baixo
2,2,44419309,2021-02-26,2021-02-28,Apartamento inteiro em José Menino,Charmoso apartamento em Santos na quadra da praia,4 hóspedes,1 quarto,1 cama,1 banheiro,Wi-Fi,Ar-condicionado,Cozinha,Estacionamento gratuito,4.84,25,171.0,342.0,Novo preço mais baixo
3,3,39763299,2021-02-26,2021-02-28,Apartamento inteiro em José Menino,"Conforto,frente à praia do José menino/Santos",3 hóspedes,Estúdio,2 camas,1 banheiro,Cozinha,Permitido animais,Elevador,Vista para o mar,4.65,51,108.0,296.0,Novo preço mais baixo
4,4,20774709,2021-02-26,2021-02-28,"Apartamento inteiro em Guarujá, Pitangueiras C...",Guarujá Centro Pitangueiras Wi-Fi,4 hóspedes,1 quarto,3 camas,1 banheiro,Cozinha,Estacionamento gratuito,Permitido animais,Elevador,4.49,97,188.0,456.0,Novo preço mais baixo

In [21]:
# Correção de erros da extração via Scrapping
df_baixada['check-out'] = df_baixada['check-out'].replace('previous_page_section_name=1000', '2021-05-02')

In [22]:
df_baixada['check-out'].unique()

array(['2021-02-28', '2021-02-14', '2021-02-21', '2021-03-28',
       '2021-03-07', '2021-03-21', '2021-03-14', '2021-04-11',
       '2021-04-25', '2021-04-04', '2021-04-18', '2021-05-02',
       '2021-01-31'], dtype=object)

# 1.2.1 - Função Limpeza Scrapping

In [23]:
def limpeza (dataset):
    """
    Funccion of cleaness
    dataset: Name of dataframe extracted from AirBnb's scraping
    """
    #drop da coluna unnamed
    dataset.drop(['Unnamed: 0'], axis=1, inplace=True)
    
    #rename columns:
    dataset = dataset.rename(columns={'id': 'ID', 
                                      'check-in': 'Check-In', 
                                      'check-out': 'Check-Out',
                                       'titulo': 'Localização', 
                                      'atributo_1': 'Número Hóspedes',
                                       'atributo_2': 'Número Quartos', 
                                      'atributo_3': 'Número Camas',
                                       'atributo_4': 'Número Banheiros', 
                                      'atributo_5':'Plus 1',
                                      'atributo_6':'Plus 2',
                                       'atributo_7':'Plus 3',
                                      'atributo_8':'Plus 4', 
                                      'avaliação':'Avaliação',
                                        'comentários': 'Número Comentários', 
                                      'preço': 'Preço/Noite',
                                      'preço_total': 'Preço com taxas',
                                       'superhost': 'Superhost'})
    #Find out Neighborhood:
    dataset['Localização'] = dataset['Localização'].str.replace('Apartamento inteiro em ','')
    dataset['Localização'] = dataset['Localização'].str.replace('Condomínio inteiro em ','')
    dataset['Localização'] = dataset['Localização'].str.replace('Quarto inteiro em ','')
    dataset['Localização'] = dataset['Localização'].str.replace('Flat inteiro em ','')
    dataset['Localização'] = dataset['Localização'].str.replace('Loft inteiro em ','')
    dataset['Localização'] = dataset['Localização'].str.replace('Suíte de visitas inteira em ','')
    
    #Only numbers
    dataset['Número Hóspedes'] = dataset['Número Hóspedes'].str.replace(' hóspedes','')
    dataset['Número Quartos'] = dataset['Número Quartos'].str.replace(' quartos','')
    dataset['Número Quartos'] = dataset['Número Quartos'].str.replace(' quarto','')
    dataset['Número Camas'] = dataset['Número Camas'].str.replace(' camas','')
    dataset['Número Camas'] = dataset['Número Camas'].str.replace(' cama','')
    dataset['Número Banheiros'] = dataset['Número Banheiros'].str.replace(' banheiros','')
    dataset['Número Banheiros'] = dataset['Número Banheiros'].str.replace(' banheiro','')
    
    x = dataset.drop_duplicates('Localização')
    np.array(x['Localização'])
    
    # Datatime transforming
    dataset['ID'] = dataset['ID'].astype('object')
    dataset['Check-In'] = pd.to_datetime(dataset['Check-In'], format='%Y-%m-%d')
    dataset['Check-Out'] = pd.to_datetime(dataset['Check-Out'], format='%Y-%m-%d')
    
    return dataset

In [24]:
df_baixada = limpeza(df_baixada)
df_baixada.head()

,ID,Check-In,Check-Out,Localização,titulo_2,Número Hóspedes,Número Quartos,Número Camas,Número Banheiros,Plus 1,Plus 2,Plus 3,Plus 4,Avaliação,Número Comentários,Preço/Noite,Preço com taxas,Superhost
0,20193688,2021-02-26,2021-02-28,Jardim Las Palmas,Astúrias Apto aconchegante perto da praia,2,1,1,1,Ar-condicionado,Piscina,Cozinha,Estacionamento gratuito,4.82,46,228.0,456.0,Novo preço mais baixo
1,37237280,2021-02-26,2021-02-28,Pitangueiras,Suíte Guarujá apto Frente Mar 2,7,1,4,1 e meio,Wi-Fi,Cozinha,Permitido animais,Elevador,4.67,21,185.0,369.0,Novo preço mais baixo
2,44419309,2021-02-26,2021-02-28,José Menino,Charmoso apartamento em Santos na quadra da praia,4,1,1,1,Wi-Fi,Ar-condicionado,Cozinha,Estacionamento gratuito,4.84,25,171.0,342.0,Novo preço mais baixo
3,39763299,2021-02-26,2021-02-28,José Menino,"Conforto,frente à praia do José menino/Santos",3,Estúdio,2,1,Cozinha,Permitido animais,Elevador,Vista para o mar,4.65,51,108.0,296.0,Novo preço mais baixo
4,20774709,2021-02-26,2021-02-28,"Guarujá, Pitangueiras Centro",Guarujá Centro Pitangueiras Wi-Fi,4,1,3,1,Cozinha,Estacionamento gratuito,Permitido animais,Elevador,4.49,97,188.0,456.0,Novo preço mais baixo

In [25]:
print(f" {df_baixada.duplicated().sum()} linhas duplicadas")

 2412 linhas duplicadas

In [26]:
df_baixada = df_baixada.drop_duplicates(keep='first')
print(f"Total de {df_baixada.duplicated().sum()} linhas duplicadas")

Total de 0 linhas duplicadas

In [27]:
len(df_baixada['ID'].unique())

878

In [28]:
print(f'Numero de linhas: {df_baixada.shape[0]}')
print(f'Numero de colunas: {df_baixada.shape[1]}')

Numero de linhas: 5262
Numero de colunas: 18

In [29]:
# Segundo Teste
df_baixada['Preço/Noite'].sort_values()

7375      1.022
7306      1.022
7350      1.022
7218      1.106
6754      1.106
         ...
4589    975.000
4432    975.000
7308    989.000
7307    989.000
7360    989.000
Name: Preço/Noite, Length: 5262, dtype: float64

# 1.2.3. Exportar CSV

In [30]:
# Exportar para csv
df_baixada.to_csv('../data/baixada_santista.csv')