# Processamento dos Dados de Teste

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',30)
import os 
import sys 
sys.path.append('..')

from function.data_cleaning import *
from function.feature_eng import *
from function.feature_selection import *

# Dados Constantes

In [2]:
DATA_TEST_INPUT = '../data/DATA_TEST.csv'
DATA_TEST_OUPUT = '../data/data_test_for_modeling.csv'

In [3]:
df_test = pd.read_csv(DATA_TEST_INPUT)

In [4]:
df_test.shape

(1053, 20)

# Processamento...

### Aplicação das funções de Limpeza:

In [5]:
df_test = create_dummies(df_test)

In [6]:
df_test = quartos_transformation(df_test)

In [7]:
df_test = banheiro_transformation(df_test)

In [8]:
df_test = ajuste_tipos(df_test)

In [9]:
df_test = drop_variables(df_test)

### Funções de Feature Engineering

In [10]:
df_test = create_vista(df_test)

In [11]:
df_test = tranform_frequency(df_test)

In [12]:
df_test = eng_create_demand(df_test)

In [13]:
df_test = eng_create_is_holiday(df_test)

In [14]:
df_test = eng_is_outlier(df_test)

In [15]:
df_test = create_dates(df_test)

In [16]:
df_test = eng_create_holiday_week(df_test)

In [17]:
df_test = create_taxa(df_test)

In [18]:
df_test = df_test.drop('Unnamed: 0.1', axis=1)

### Dataframe pronto para modelagem

In [19]:
df_test = features_for_modeling(df_test)

In [20]:
df_test.head()

,Mes,Número Banheiros,Número Camas,Número Comentários,Número Hóspedes,Taxa,Semana_do_ano,Jacuzzi,Academia,Secadora,Localização,Piscina,Permitido animais,Preço/Noite
0,2,3,8,3,16,100.0,7,0,0,0,0.007597,1,0,870.0
1,3,2,9,7,12,50.0,9,0,0,1,0.013295,1,0,338.0
2,4,1,2,14,4,50.0,14,0,0,0,0.025641,0,0,127.0
3,4,2,3,4,6,0.0,13,0,0,0,0.014245,0,0,169.0
4,4,1,2,8,4,60.0,15,0,0,0,0.010446,0,0,111.0

# Exportar

In [21]:
df_test.to_csv(DATA_TEST_OUPUT)